.aboutMe {
    position: relative;
    padding: 4em 160px;
    margin-right: auto;
    margin-left: auto;
}

.title {
    text-align: center;
    margin-bottom: 5em;
    margin-left: -15px;
    margin-right: -15px;
}

.title h2 {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.5;
}

.context {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    gap: 120px;
    justify-content: space-between;
}

.info {
    flex-grow: 1;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.infoList {
    margin: 0;
    padding: 0;
    width: 90%;
    float: left;
}

.infoList li {
    padding: 16px 0;
    display: flex;
    align-items: center;
}

.first {
    width: 40%;
    display: inline-block;
    text-align: left;
    color: #000;
    font-weight: bold;
}

.second {
    width: 60%;
    display: inline-block;
    color: rgba(0, 0, 0, 0.8);
}

.introduction {
    flex-grow: 2;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.introduction h3 {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 20px;
}

.description p {
    line-height: 2;
    text-align: justify;
}

.descriptionList {
    margin-top: 30px;
}

.quote {
    font-style: italic;
    font-size: 16px;
    font-weight: 600;
}

.borderBottom {
    position: absolute;
    content: "";
    border-bottom: 2px solid #212a37;
    width : 50%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}